Options       +ExecCGI
AddHandler    cgi-script .cgi
RewriteEngine on

# Indexes
RewriteRule   ^$      '/home'

# Pileus rewrites
RewriteCond   %{REQUEST_URI}      !^/[^/]*/files/
RewriteCond   %{REQUEST_URI}      !^/(dev|git)/
RewriteCond   %{REQUEST_FILENAME} !-f
RewriteRule   .* 'pileus.cgi/$0'
